.add-book h1{
    text-align: center;
}

.form-add-book{
    background-color: aliceblue;
    width: 350px;
    height: 450px;
    position: relative;
    top: 100px;
    left: 760px;
    border-radius: 25px;
}

.form-add-book-input{
    margin-left: 60px;
    position: relative;
    top: 10px;
}

.form-add-book button{
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 60px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-left: 35px;
  }
  
  .form-add-book button:hover{
      background-color: green;
      color: white;
  }

.form-add-book input{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
    outline: none;
    padding: 10px;
}

.form-add-book textarea{
    padding: 10px 20px;
    outline: none;
    margin: 5px;
    margin-left: 10px;
}