.add-user h1{
    text-align: center;
}

.form{
    text-align: center;
    position: relative;
    top:150px;
    left: 750px;
}

.add-user .form-container{
    background-color: aliceblue;
    width: 20%;
    height: 285px;
    border-radius: 25px;
}

.form-container button{
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.form-container button:hover{
    background-color: green;
    color: white;
}

.form-container input {
    padding: 8px 16px;
    margin: 10px;
}

