.book-list h1{
    text-align: center;
}


.book-card{
    display: flex;
    align-items: center;
    height: 250px;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 20px 20px;
    background-color: bisque;
}

.book-card img{
    margin: 30px;
    size: 50%;
}

.delete-button{
    padding: 10px 15px;
    border: 1px solid red;
    color: red;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
    margin: 0px 10px;
}

.delete-button:hover{
    background-color: red;
    color: aliceblue;
}

.read-button{
    padding: 10px 15px;
    border: 1px solid rgb(0, 157, 255);
    color: rgb(0, 157, 255);
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
    margin: 0px 10px;
}

.read-button:hover{
    background-color: rgb(0, 157, 255);
    color: aliceblue;
}

.book-card-content{
    margin: 15px 15px;
}