*{
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
}

.landingPage{
    background-image: url('/public/images/layered-steps-haikei.svg');
    background-size: cover;
    height: 100vh;
}

.image-png img{
    width: 35%;
    position: relative;
    top: 55px;
    left: 35px;
}

.select-login{
    color: #fff;
    width: 800px;
    position: absolute;
    top: 200px;
    left: 1050px;
    border-radius: 25px;
}

.login-button{
    display: flex;
    position: relative;
    top: 100px;
    left: 150px;
}

.login-form{
    position: relative;
    top: 150px;
    text-align: center;
}

.login-button a{ 
    border: 1px solid gray;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.2s;
    padding: 20px 50px ;
    margin: 0px 10px;
}

.login-button a:hover{
    color: #fff;
}

#admin-login{
    color:red;
}

#admin-login:hover{
    background-color: red;
    color: #fff;
}
#user-login{
    color: green;
}

#user-login:hover{
    background-color: green;
    color: #fff;
}